<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>You just added a new contact!</h1>
    <h2>Their Information: </h2>
    <br>
    <p>Their Name: @Model.GetName()</p>
    <p>Their Address: @Model.GetAddress()</p>
    <p>Their Phone Number: @Model.GetPhone()</p>
    <p><a href="/">Add another contact</a></p>
    <p><a href="/contact/list">View current contacts</a></p>
  </body>
</html>

@* <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Address Book</title>
  </head>
  <body>
    <h1>Create contact</h1>
    <form action="/contact/create" method="post">
      <label for="contactName">Please Input your name</label>
      <input type="text" name="contactName" id="contactName">
    <br>
      <label for="contactAddress">Please put your address</label>
      <input type="text" name="contactAddress" id="contactAddress">
    <br>
      <label for="contactPhone">Please put your phone number</label>
      <input type="text" name="contactPhone" id="contactPhone">
    <br>
      <button type="submit" name="btnSubmit" class="btn btn-success">Create Contact</button>
    </form>

  </body>
</html> *@
